//在线助手用
#online-assistant {
  width: 55px;
  position: fixed;
  right: 0;
  top: 0;
  z-index:9999999999;
  .assistant-item {
    width:100px;
    //width: 55px;
    //height: 55px;
    margin-bottom: 4px;
    /*background-color: #CCC;*/
    background-color: #FFF;
    //cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    right: 0;
    transition: all .2s ease-out;
    &:hover {
    }
    &.qq {
      top: 0;
      border:1px solid #ccc;
      >.title {
        width:100%;
        background:url(../images/bg_assistant.png) repeat-x;
        display:block;
        height:30px;
        text-align: center;
        color:#FFF;
        font-size: 12px;
        line-height: 30px;
      }
      >.content {
        padding:15px 0;
        >ul {
          >li {
            margin-bottom: 4px;
            >a {
              display: block;
              margin: 0 auto;
              width: 76px;
              height: 23px;
              line-height: 23px;
              background: url(../images/bg_qq.png);
              font-size: 12px;
              color: #4F71A3;
              text-align: center;
              text-indent: 20px;
            }
          }
        }
        >.hotline {
          font-size: 14px;
          text-align: center;
          color:#ff6F37;
          font-weight: bold;
          >span {
            font-size: 12px;
            color:#000;
            line-height:2;
          }
        }
      }
    }
  }
}