<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="UTF-8">
  <!--<meta content="width=420, user-scalable=no" name="viewport">-->
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title></title>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/vue/dist/vue.min.js"></script>
  <link href="node_modules/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
  <script src="node_modules/element-ui/lib/index.js"></script>
  <script src="node_modules/moment/moment.js"></script>
  <script src="node_modules/moment/locale/zh-cn.js"></script>
  <script src="js/common.js"></script>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="js/barragerjs/dist/css/barrager.css">
  <script src="js/barragerjs/dist/js/jquery.barrager.min.js"></script>
  <!--搜狐pv库，加入returnCitySN对象-->
  <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
</head>
<body>
<!--主内容-->
<div id="main">
  <!-- Header -->
  <div id="header">
    <div class="header_panel">
      <a href="#" class="to_home">返回首页</a>
      <ul id="count_panel">
        <li>浏览量&nbsp;<span>{{ activityRecord.pageviews?activityRecord.pageviews:0 }}</span>，</li>
        <li>参会企业&nbsp;<span>{{ activityRecord.companyCount }}</span>，</li>
        <li>招聘人数&nbsp;<span>{{ activityRecord.requireCount }}</span></li>
      </ul>
    </div>
  </div>
  <!-- /Header -->
  <!-- Banner -->
  <div id="banner">
    <div class="banner_panel">
      <!--弹幕区-->
      <div id="danmu"></div>
      <!--/弹幕区-->
      <div class="banner_panel_left cj-pull-left">
        <!--Tab-->
        <ul id="tab">
          <li @click="currentTab=0" :class="{'active':currentTab===0}">招聘大厅</li>
          <li @click="currentTab=1" :class="{'active':currentTab===1}">求职大厅</li>
        </ul>
        <!--/Tab-->
        <!--Search Panel-->
        <div id="search_panel">
          <input type="text">
          <button type="button">搜索</button>
        </div>
        <!--/Search Panel-->
        <!--Status Switch-->
        <ul id="status">
          <li @click="currentStatus=0" :class="{'active':currentStatus===0}">全部企业</li>
          <li @click="currentStatus=1" :class="{'active':currentStatus===1}">在线企业</li>
        </ul>
        <!--/Status Switch-->
      </div>
      <div class="banner_panel_right cj-pull-right">
        <!--登录区-->
        <ul id="login_panel">
          <li>个人登陆</li>
          <li>企业登陆</li>
        </ul>
        <!--/登录区-->
        <!--倒计时区-->
        <div class="cj-block">
          3天12时17分
        </div>
        <div @click="activityDescDialog=true;">查看邀请函</div>
        <a href="#">企业订展</a>
        <!--/倒计时区-->
      </div>
    </div>
  </div>
  <!-- /Banner -->
  <!-- Tab容器 -->
  <div id="tab_content">
    <!-- 招聘大厅 -->
    <div class="tab_item" v-if="currentTab===0">
      <h1>招聘大厅</h1>
      <svg style="display:block; margin:0 auto;" width="1780" height="42" viewBox="0 0 1780 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M42 0H1738L1780 42H0L42 0Z" fill="#8AE4FC"/>
      </svg>
      <div class="out_panel_top1"></div>
      <div class="out_panel_top2"></div>
      <div class="out_border_1">
        <div class="out_border_2">
          <div class="company-list_panel" v-if="companyList">
            <!--展位单元-->
            <div class="company-item" v-for="item in companyList" :class="{'offline': Math.random()>0.5}">
              <!--TODO 这里离线的条件需要修改，暂时是测试用-->
              <!--公司名称-->
              <div class="company_name" @click="showCurrentCompanyInfo(item.companyId)">
                <span>{{ item.companyName }}</span>
              </div>
              <div class="company_lastUpdateDate">刷新时间：{{ item.lastUpdateDate }}</div>
              <!--职位列表-->
              <div @click="showRecruitList(item.companyId)" class="recruit-list">
                <div class="recruit-list_panel">
                  <div class="recruit-item">
                    <div class="see-more">查看更多</div>
                  </div>
                  <div class="recruit-item" v-if="item.recruitModelList" v-for="(recruitItem, recruitIndex) in item.recruitModelList">
                    <div class="job-title">{{ (parseInt(recruitIndex) + 1) + '. ' + recruitItem.jobTitle }}</div>
                    <div class="salary" v-if="recruitItem.salary==='1000元以下'">1K内</div>
                    <div class="salary" v-if="recruitItem.salary==='1500-2000元'">1.5-2K</div>
                    <div class="salary" v-if="recruitItem.salary==='2000-2500元'">2-2.5K</div>
                    <div class="salary" v-if="recruitItem.salary==='2500-3000元'">2.5-3K</div>
                    <div class="salary" v-if="recruitItem.salary==='3000-3500元'">3-3.5K</div>
                    <div class="salary" v-if="recruitItem.salary==='3500-4000元'">3.5-4K</div>
                    <div class="salary" v-if="recruitItem.salary==='4000-5000元'">4-5K</div>
                    <div class="salary" v-if="recruitItem.salary==='5000-6000元'">5-6K</div>
                    <div class="salary" v-if="recruitItem.salary==='6000-8000元'">6-8K</div>
                    <div class="salary" v-if="recruitItem.salary==='8000-10000元'">8-10K</div>
                    <div class="salary" v-if="recruitItem.salary==='10000-15000元'">10-15K</div>
                    <div class="salary" v-if="recruitItem.salary==='15000元以上'">15K以上</div>
                    <div class="salary" v-if="recruitItem.salary==='面议'">面议</div>
                  </div>
                </div>
              </div>
              <!--HR-->
              <div class="hr" :style="{backgroundImage:'url(images/pic_hr_'+((parseInt(Math.random()*16))+1)+'.png)'}"></div>
              <!--Table-->
              <div class="table"></div>
              <!--JobSeeker-->
              <div class="job-seeker" :style="{backgroundImage:'url(images/pic_jobseeker_'+((parseInt(Math.random()*8))+1)+'.png)'}"></div>
              <!--Chair-->
              <div class="chair"></div>
              <!--立即沟通-->
              <div class="to-chat">立即沟通</div><!--TODO 离线以后这里文字要改成离线状态-->
            </div>
            <!--/展位单元-->
          </div>
        </div>
      </div>
      <div class="out_panel_bottom2"></div>
      <div class="out_panel_bottom1"></div>
    </div>
    <!-- /招聘大厅 -->
    <!-- 求职大厅 -->
    <div class="tab_item" v-if="currentTab===1">
      <h1>求职大厅</h1>
      <svg style="display:block; margin:0 auto;" width="1780" height="42" viewBox="0 0 1780 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M42 0H1738L1780 42H0L42 0Z" fill="#8AE4FC"/>
      </svg>
      <div class="out_panel_top1"></div>
      <div class="out_panel_top2"></div>
      <div class="out_border_1">
        <div class="out_border_2">
          <!-- 在线求职者列表 -->
          <div id="job-seeker_list">
            <!--TODO 这里判断在线的要写算法，这里是随机数-->
            <div class="job-seeker_item" :class="{'offline':(Math.random()*2)<1}" v-if="jobSeekerList" v-for="item in jobSeekerList">
              <div class="online_status online">在线</div>
              <div class="online_status offline">离线</div>
              <div class="avatar" :style="'background-image:url(images/avatar_'+(item.genderCode==='01'?'man':'woman')+'_'+(parseInt(Math.random()*4)+1)+'.png)'"></div>
              <div class="name">{{ item.personName }}{{item.genderCode}}</div>
              <div class="position">{{ item.positionCode ? item.positionCode : '-暂无-' }}</div>
              <div class="info">
                {{ item.graduateSchool ? item.graduateSchool : '-未登记学校信息-' }}<br>
                {{ item.major ? item.major : '-专业未填-' }}/{{ item.highestEdu ? item.highestEdu + '学历' : '-学历未填-' }}<br>
                {{ item.workYears }}年工作经验
              </div>
              <div class="chat-now">立即沟通</div>
              <div class="view-resume" @click="viewResume(item.cvId)">查看简历</div>
            </div>
          </div>
          <!-- /在线求职者列表 -->
        </div>
      </div>
      <div class="out_panel_bottom2"></div>
      <div class="out_panel_bottom1"></div>
    </div>
    <!-- /求职大厅 -->
  </div>
  <!-- /Tab容器 -->
  <!-- 区域内放置Dialog -->
  <!-- 企业详情Dialog -->
  <el-dialog title="公司详情" :visible.sync="companyInfoDialog" width="600px">
    <div v-if="currentCompanyInfo">
      <!--TODO 样式没做-->
      LOGO: <img :src="currentCompanyInfo.logoLink?currentCompanyInfo.logoLink:'images/icon_danmu_avatar.png'" alt="">
      <br>
      公司名称：{{ currentCompanyInfo.companyName }}<br>
      联系人：{{ currentCompanyInfo.contactPerson }}<br>
      公司地址：{{ currentCompanyInfo.address ? currentCompanyInfo.address : '-未填写-' }}<br>
      公司地址(location)：{{ currentCompanyInfo.location ? currentCompanyInfo.location : '-未填写-' }}<br>
      公司类型：{{ currentCompanyInfo.entProp }}<br>
      传真：{{ currentCompanyInfo.fax ? currentCompanyInfo.fax : '-未填写-' }}<br>
      公司类型：{{ currentCompanyInfo.industry ? currentCompanyInfo.industry : '-未填写-' }}<br>
      公司名称：{{ currentCompanyInfo.componentName }}<br>
      公司人数：{{ currentCompanyInfo.persons }}<br>
      联系电话：{{ currentCompanyInfo.phone }}<br>
      网站：{{ currentCompanyInfo.website }}
    </div>
    <span slot="footer" class="dialog-footer">
    </span>
  </el-dialog>
  <!-- /企业详情Dialog -->
  <!-- 职位详情Dialog -->
  <!-- /职位详情Dialog -->
  <!-- 职位列表和投递 -->
  <el-dialog id="recruit-list_dialog" title="选择面试职位" :visible.sync="recruitListDialog" width="520px">
    <div v-if="currentRecruitList" v-for="item in currentRecruitList">
      <el-radio v-model="currentRecruitChecked" :label="item.recruitId" border>{{ item.recruitName }}</el-radio>
    </div>
    <div slot="footer" class="dialog-footer">
      <span id="recruit-list_submit" @click="recruitListSubmit()">投递简历</span>
    </div>
  </el-dialog>
  <!-- /职位列表和投递 -->
  <!-- 邀请函Dialog -->
  <el-dialog title="邀请函" :visible.sync="activityDescDialog" width="600px">
    <div v-if="activityDesc">
      <div class="cj-text-center">
        <h1>{{ activityDesc.postTitle }}</h1>
        <h4>{{ activityDesc.postDate }}</h4>
      </div>
      <div style="text-indent:2em;" v-html="nl2br(activityDesc.postContent)"></div>
    </div>
    <span slot="footer" class="dialog-footer">
    </span>
  </el-dialog>
  <!-- /邀请函Dialog -->
  <!--简历详情Dialog-->
  <el-dialog title="简历详情" :visible.sync="resumeInfoDialog" width="600px">
    <div v-if="currentResumeInfo">
      <div class="cj-text-center">
        <div v-if="currentResumeInfo.jobPerson">
          姓名：{{ currentResumeInfo.jobPerson.personName }} <br>
          性别：{{ currentResumeInfo.jobPerson.genderCode === '01' ? '男性' : '女性' }} <br>
          年龄：{{ currentResumeInfo.jobPerson.age }}岁 <br>
          经验：{{ currentResumeInfo.jobPerson.workYears }}年工作经验 <br>
          学历：{{ currentResumeInfo.jobPerson.highestEdu }} <br>
          生日：{{ (currentResumeInfo.jobPerson.dob ? currentResumeInfo.jobPerson.dob.substr(0, 10) : '') }} <br>
          现居地：{{ currentResumeInfo.jobPerson.currLocCode }} <br>
          身高：{{ currentResumeInfo.jobPerson.height }} <br>
          手机：{{ currentResumeInfo.jobPerson.mobilePhone }} <br>
          固话：{{ currentResumeInfo.jobPerson.phone }} <br>
          E-mail：{{ currentResumeInfo.jobPerson.email }} <br>
          毕业院校：{{ currentResumeInfo.jobPerson.graduateSchool }} <br>
          学历：{{ currentResumeInfo.jobPerson.highestEdu }} <br>
          意向行业：{{ currentResumeInfo.industryCode }} <br>
          岗位类别：{{ currentResumeInfo.positionCode }} <br>
          期望薪资：{{ currentResumeInfo.salaryRange }} <br>
          求职地点：{{ currentResumeInfo.locationCode }} <br>
          可到岗天数：{{ currentResumeInfo.availableInDays }} <br>
          个人自述：{{ currentResumeInfo.selfComment}} <br>
          其他说明：{{ currentResumeInfo.remark}} <br>
        </div>

        <!--工作经验-->
        <div v-if="currentResumeInfo.jobPersonJobHistList">
          <ul>
            <li v-for="item in currentResumeInfo.jobPersonJobHistList">
              <span>{{item.COMPANY_NAME}}</span>
              <span>{{item.ACHIEVEMENT}}</span>
            </li>
          </ul>
        </div>

        <!--学历教育-->
        <div v-if="currentResumeInfo.jobPersonEduList">
          <ul>
            <li v-for="item in currentResumeInfo.jobPersonEduList">
              <span>{{item.SCHOOL_NAME}}</span>
              <span>{{item.MAJOR_CODE}}</span>
              <span>{{item.EDUCATION_CODE}}</span>
              <span>{{item.EDU_MODE}}</span>
              <span>{{item.DEGREE_CODE}}</span>
            </li>
          </ul>
        </div>

      <!--项目经验-->
        <div v-if="currentResumeInfo.projectList">
          <ul>
            <li v-for="item in currentResumeInfo.projectList">
              <span>{{item.startDate ? item.startDate.substr(0, 10) : '-未填-'}}至{{item.endDate ? item.endDate.substr(0, 10) : '至今'}}</span>
              <span>{{item.projectDetail}}</span>
              <span>{{item.responsibility}}</span>
              <span>{{item.keyTechnology}}</span>
            </li>
          </ul>
        </div>

      <!--技能-->
        <div v-if="currentResumeInfo.skillList">
          <ul>
            <li v-for="item in currentResumeInfo.skillList">
              <span>{{item.SKILL}}</span>
              <span>{{item.USE_TIME}}</span>
              <span>{{item.PROFICIENCY}}</span>
            </li>
          </ul>
        </div>

      <!--职业教育培训-->
        <div v-if="currentResumeInfo.trainingList">
          <ul>
            <li v-for="item in currentResumeInfo.trainingList">
              <span>{{item.startDate ? item.startDate.substr(0, 10) : '至今'}}至{{item.endDate ? item.endDate.substr(0, 10) : '至今'}}</span>
              <span>{{item.trainingOrg}}</span>
              <span>{{item.trainingName}}</span>
              <span>{{item.trainingDetail}}</span>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <span slot="footer" class="dialog-footer">
    </span>
  </el-dialog>
  <!--/简历详情Dialog-->
  <!-- /区域内放置Dialog -->
</div>
<!--/主内容-->
<script src="index.js"></script>
</body>
</html>